<!DOCTYPE html>
<head>
	<title>It works!</title>
    <meta charset="utf-8">
	<link rel="icon" href="https://angularjs.org/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="main.css">
	
	<script src="angular.1.4.0-rc.0.js" 		type="text/javascript"></script>
	<script src="angular-animate.1.4.0-rc.0.js" type="text/javascript"></script>
	<script src="angular-resource.1.4.0.js" 	type="text/javascript"></script>
	
	<script src="currency-form-controller.js" 	type="text/javascript"></script>
	<script src="dropdown-directive.js"			type="text/javascript"></script>
	<script src="focus-me-directive.js" 		type="text/javascript"></script>
	<script src="app-filters.js" 				type="text/javascript"></script>
	<script src="currency-factory.js" 			type="text/javascript"></script>
	
	<script src="index.js" 						type="text/javascript"></script>
</head>
<body ng-app=testCases>
	<div ng-controller=currencyForm>
		<form ng-submit="submit()" class="form-horizontal" novalidate>
			<h3>Currency form</h3>

			<dropdown class=form-item list=list1 selected='selects.selected1'></dropdown>	
			<dropdown class=form-item list=list2 selected='selects.selected2' ng-if=showFuther></dropdown>
						
			<div class='animate-if result' ng-if=showFuther>
				{{selects.selected1}} - {{selects.selected2}} <br>
				<div ng-repeat='currency in base | filterSelected:selects as results'>
					<pre>{{currency}}</pre>
				</div>
				<div ng-if="results.length == 0">
					<strong>No results found...</strong>
				</div>
			</div>
			<button class=form-item>Submit</button>
		</form>
	</div>
</body>
</html>
